@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla';
}

:root {
    font-size: 62.5%;
    --color-primary: #f2efea;
    --color-secondary: #d37257;
    --color-text: #3d5336;
    --color-details: #cbbcb1;
    --color-brand: #3f281a;
}

body{
    width: 90vw;
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--color-primary);
}

.header_bar{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
}

.header_bar__brand{
    font-size: 2.8em;
    font-weight: 600;
    padding: 0 1em;
    color: var(--color-brand);
    text-shadow: 0px 1px 2px var(--color-details);
}

.header_bar__nav {
    flex: 1;
    display: grid;
    justify-content: start;
    /* Consegui colocar o ul como eu queria alinhado à esquerda, porém só com o grid eu consegui isso. Revisar outros métodos.*/    
}

.header_bar__nav ul {
    display: flex;
    list-style: none;
}

.header_bar__nav li {
    padding: 3em 1em;
}

.header_bar__nav a {
    font-size: 1.8em;
    font-weight: 600;
    padding: 1.6em 0 1.5em;
    color: var(--color-text);
    text-decoration: none;
}

.header_bar__nav a:hover {
    color: #EBEFF2;
    border-bottom: 3px solid #EBEFF2;
}

.header_account {
    margin-right: 2em;
}

.header_account__buttons {
    display: flex;
    gap: 0.8em;  
}

.buttons__login,
.buttons__create{
    padding: 0.4em 1em;
    border-radius: 12px;
    font-size: 1.4em;
    font-weight: 600;
    background-color: var(--color-secondary);
    color: var(--color-brand);
    border: 0.1em solid var(--color-brand);
}

.buttons__login:hover,
.buttons__create:hover {
    background-color: var(--color-brand);
    color: var(--color-primary);
    border: 0.1em solid var(--color-primary);
    transition: 0.2s;
}


/* Secção abaixo da header_bar*/

.header_bar__menu {
    background-color: var(--color-details);
    padding: .8em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__products {
    display: flex;
    list-style: none;
}

.products__option {
    color: var(--color-text);
    font-size: 1.4em;
    font-weight: 600;
    margin: 0em 1.2em 0 0.4em;
    letter-spacing: 1.5px;
    text-decoration: none;    
}

.products__option:hover {
    color: var(--color-primary);
    padding-bottom: 0.4em;
    border-bottom: 0.2em solid var(--color-brand);
}

.products__dropdown {
    background-color: var(--color-details);
    position:absolute;
    max-width: 1440px;
    width: 90vw;
    display: none;
    margin-top: .9em
}

.dropdown1{
    margin-left: -1.7em;
}

.dropdown2{
    margin-left: -7.6em
}
.dropdown3{
    margin-left: -18em
}
.dropdown4{
    margin-left: -28.8em
}

.dropdown:hover .products__dropdown {
    display: flex;
}

.dropdown__options {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.6em 4em 1em 1em;
    margin-left: 2.1em;
}


.dropdown__options-option {
    font-size: 1.6em;
    color: var(--color-text);
    font-weight: 600;
    margin-bottom: 0.5em;
}

.dropdown__options-type {
    font-size: 1.6em;
    padding: 0.4em 0;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    letter-spacing: .1px;
}

.dropdown__options-type:hover {
    color: var(--color-primary);
    transition: .2s;
}

.header_bar__menu h2 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 500;
}

main {
    height: auto;
}

footer {
    margin-top: 10px;
}

.main_area {
    height: 150em;
    /* background-color: #dce0e2; */
    display: flex;
    /* border: 1px solid black; */
    padding: 1.6em 1.6em;
}

.catalog__aside {
    width: 22em;
    /* height: 1500px; */
    /* background-color: red; */
    border-right: 0.1em solid var(--color-details);
}

.aside-category {
    width: 18em;
    margin: auto;
    border-bottom: 0.1em solid var(--color-details);
}

.aside-category.last {
    border: none;
}

.category-title {
    font-size: 1.6em;
    font-weight: 500;
    padding: 1em .6em .6em;
    color: var(--color-secondary);
}

.category-form {
    padding-bottom: 1em;
}

.form-fill {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding: .2em 1em;
}

.form-fill label {
    font-size: 1.4em;
    font-weight: 300;
}


.catalog__products {
    flex: 1;
    height: 500px;
}

.products-fill {
    display: flex;
    justify-content: end;
    padding: 1.6em 0;
    /* border: 1px solid black; */
}

.fill {
    padding-right: 1.6em;
}

.dropdown{
    border-radius: 6px;
    border-color: var(--color-details);
    color: var(--color-text);
    font-size: 1.3em;
    padding: 2px;
}

.area__products{
    /* border: 1px solid black; */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-area {
    padding: 0em 0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    /* border: 1px solid black; */
    /* background-color: red; */

}

.cards-products{
    height: 32.6em;
    width: 24em;
    margin: 0em 1em 1em;
    /* border: 1px solid black; */
}

.cards-products img {
    max-width: 100%;
    max-height: auto;
    /* border: 1px solid black; */
}

.card-description {
    /* border: 1px solid black; */
}

.card-description h5 {
    font-size: 1.4em;
    text-align: center;
    padding: 0 0.5em;
}

.cards-purchase {
    display: flex;
    /* border: 1px solid black; */
    gap: 1em;
}

.price-information  {
    /* border: 1px solid black; */
    padding: .4em 1em;
    align-self: center;
}

.price-information h6 {
    font-size: 1.2em;
}

.price-information span{
    font-size: 1.4em;
    color: rgb(228, 20, 20);
}

.price-information p {
    color: rgb(228, 20, 20);
    font-size: 1.2em;
    padding: .2em 0;
    font-weight: 500;
}

.button-buy {
    flex: 1;
    align-self: center;
}

.buy-product {
    background-color: rgb(59, 136, 59);
    color: var(--color-primary);
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 20px/50%;
    height: 2.2em;
    border: none;
    box-shadow: 0px 1px 5px black ;
    
}

.products-pages {
    margin-top: 40px;
}

.pages-area {
    display: flex;
    justify-content: center;  
    gap: 0.8em;      
}

.page a {
    padding: 0.6em 1em;
    border-radius: 50%;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--color-text);
    text-decoration: none;
    justify-self: center;
}

a.active {
    color: var(--color-primary);
    background-color: var(--color-text);
}



.footer_area_top p {
    color: var(--color-primary);
    background-image: url(/code/img/coffee_bg3.jpg);
    background-color: rgba(0,0,0, .3);
    background-blend-mode: color;
    padding: 3em;
    font-size: 2.1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px black;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.footer_area_top p button {
    background-color: var(--color-details);
    border-radius: 16px;
    padding: 0.2em 0.6em;
    color: var(--color-text);
    border: none;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 500;
}

.footer_area_top p button:hover {
    background-color: var(--color-brand);
    outline: 0.01em solid var(--color-primary) ;
    color: var(--color-primary);
}

.footer_area_mid {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6em;
    padding-right: 5em;
    /* border: 1px solid black; */
}

.contact-logo {
    margin-bottom: 0.6em;
}

.contact-logo h6 {
    font-size: 3.5em;
}

.contact-information p {
    font-size: 1.4em;
    font-weight: 500;
    color: var(--color-text);
}

.socialmedias {
    margin-top: 2em;
    display: flex;
    gap: 1.2em;
}

.socialmedias img {
    width: 45px;
    height: auto;
}

.footer_content-store,
.footer_content-institucional,
.footer_content-myaccount {
    display: flex;
    flex-direction: column;
}

.footer_content-store h6 ,
.footer_content-institucional h6,
.footer_content-myaccount h6 {
    margin: 0.4em 0;
}

.footer_content-store a, h6 ,
.footer_content-institucional a, h6,
.footer_content-myaccount a, h6 {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    color: var(--color-text);
    text-decoration: none;
    padding-bottom: 0.2em;
}

.footer_area_down {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.footer_content_payment {
    display: flex;
    flex-direction: column;
}

.footer_content_payment h6 {
    font-size: 1.4em;
    color: var(--color-text);
    margin-bottom: 0.6em;
}

.payment {
    display: flex;
    gap: 0.6em;
}

.payment img {
    width: 28px;
    height: auto;
}

.credits p {
    text-align: center;
    padding: 4em;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 500;
}

